$addContactHeight: 50px;


* {
  box-sizing: border-box;
}

#AddressBook {
  .addContact {
    width: $addContactHeight;
    height: $addContactHeight;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: $addContactHeight;
    text-align: center;
    line-height: $addContactHeight;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 0 2px black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 0 0 0 black;
    }
  }
}